{
    "presets": [
        [ "env", {
            "modules": false,
            "browsers": [
                "last 2 versions"
            ]
        }]
    ],
    "plugins": [
        "transform-object-rest-spread"
    ]
}
