{
    "presets": [
        [ "@babel/env", {
            "modules": false,
            "targets": {
                "browsers": [
                    "last 1 year",
                    "ios >= 11"
                ]
            }
        }]
    ]
}
