/build
/node_modules
/public/hot
/public/storage
!/public/index.php
/public/*.php
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
.env
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
