/build
/node_modules
/public/hot
/public/storage
/public/vendor
!/public/index.php
/public/*.php
/storage/*.key
/vendor
.env
.php_cs.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
