$btn-text-color: #fff;

.button { font-size: 16px; }
#form-register { padding: 7px; }
#btn-delete {
    color: $btn-text-color;
    background-color: #bf5329;
    &:hover { background-color: #954120; }
}
#btn-edit {
    color: $btn-text-color;
    background-color: #8eb4cb;
    &:hover { background-color: #708ea1; }
}
#main tbody tr.selected { background-color: #d1d1d1; }

// FontAwesome
@mixin icon($content) {
    content: "#{$content}  ";
    font-family: "FontAwesome";
}

#brand:before { @include icon("\f02d"); }
#btn-login:before { @include icon("\f090"); }
#btn-register:before { @include icon("\f234"); }
#menu-account:before { @include icon("\f2be"); }
#menu-logout:before { @include icon("\f08b"); }
