@import './media';
@import './variables';
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

html, body {
    height: 100%;
}

body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    background: $white;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
    color: $dark-gray;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: color .3s, background-color .3s;
}

i, span {
    display: inline-block;
}

.sidebar {
    position: fixed;
    width: 80px;
    height: 100vh;
    background: $dark-blue;
    color: $white;
    text-align: center;
    transition: margin .3s;

    @media(--mobile) {
        margin-left: -80px;
    }

    > ul {
        > li {
            > a {
                display: block;
                padding: 20px 10px;
                font-size: .85em;

                > i {
                    display: inherit;
                    margin-bottom: 5px;
                    font-size: 1.8em;
                }

                &:hover {
                    color: $dark-blue;
                    background: $white;
                }
            }

            &.active > a {
                color: $white;
                background: $navy-blue;
            }
        }

        &.components {
            padding: 10px 0;
            border-bottom: 1px solid $light-blue;

            > hr {
                width: 50%;
                margin: 10px auto;
                border: inherit;
            }
        }
    }

    .sidebar-header {
        padding: 20px;
        background: $navy-blue;

        > h3 { display: none; }
        > strong { font-size: 1.8em; }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 80px;
    padding: 20px;
    width: 100%;
    transition: margin .3s;

    @media(--mobile) {
        margin-left: 0;
    }

    .navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        min-height: 70px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        z-index: 100;

        @media(--mobile) {
            .container-fluid {
                position: relative;

                .navbar-collapse {
                    position: absolute;
                    width: 100%;
                }
            }
        }

        .navbar-header {
            font-size: 18px;
            line-height: 40px;
            color: $dark-gray;

            .navbar-toggle {
                margin-top: 2px;
            }
        }

        .nav {
            background: #fff;

            @media(--mobile) {
                border: 1px solid $white;
            }

            > hr {
                @media(--mobile) {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            .sm {
                display: none;

                @media(--mobile) {
                    display: list-item;
                }
            }
        }
    }

    > main {
        flex: 1;
    }

    > footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 65px;
        margin-bottom: 10px;
        font-size: 12px;

        ul, p {
            margin: 0;
            white-space: nowrap;
        }

        > ul {
            display: flex;

            > li {
                &:not(:last-child):after {
                    content: '|';
                    margin: 0 10px;
                }
            }
        }
    }
}

.active {
    .sidebar {
        width: 250px;
        text-align: left;

        @media(--mobile) {
            margin-left: -250px;
        }

        .sidebar-header {
            > h3 { display: inherit; }
            > strong { display: none; }
        }

        > ul {
            > li > a {
                padding: 10px;
                font-size: 1.1em;

                > i {
                    display: inline;
                    margin-right: 10px;
                    font-size: inherit;
                }
            }

            &.components > hr {
                width: 80%;
            }
        }
    }

    .wrapper {
        margin-left: 250px;

        @media(--mobile) {
            margin-left: 0;
        }
    }
}

.loading {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}

.loading-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @media(--pc) {
        margin-left: 80px;
    }
}

.loading-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #03a9f4;
    border-radius: 50%;
    box-shadow: 0 0 10px #888;

    &:after {
        position: absolute;
        content: '';
        border-radius: 50%;
        top: 50%;
        left: 50%;
        border: 0px solid white;
        transform: translate(-50%, -50%);
        animation: loading 1000ms ease-out forwards infinite;
    }
}

.loading-text {
    margin-top: 130px;
    font-weight: bold;
    text-shadow: 0 0 5px #000;
    color: #fff;
}

.loading-cancel-btn {
    margin-top: 10px;
}

@keyframes loading {
    0% {
        border: 0px solid white;
    }

    20% {
        border: 8px solid white;
        width: 0%;
        height: 0%;
    }

    100% {
        border: 8px solid white;
        width: 100%;
        height: 100%;
    }
}
