@import url(//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i, span {
    display: inline-block;
}

div.wrapper {
    display: flex;
    align-items: stretch;

    nav#sidebar {
        position: fixed;
        text-align: center;
        min-height: 100vh;
        min-width: 80px;
        max-width: 80px;
        background: #34495e;
        color: #fff;
        transition: all 0.3s;

        ul {
            li {
                a {
                    display: block;
                    padding: 20px 10px;
                    font-size: 0.85em;

                    i {
                        display: block;
                        margin-bottom: 5px;
                        font-size: 1.8em;
                    }

                    &:hover {
                        color: #34495e;
                        background: #fff;
                    }
                }

                &.active > a {
                    color: white;
                }
            }

            &.components {
                padding: 10px 0;
                border-bottom: 1px solid #47748b;

                hr {
                    width: 50%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border: inherit;
                }
            }
        }

        div.sidebar-header {
            padding: 20px;
            background: #2c3e50;

            h3 { display: none; }
            strong { font-size: 1.8em; }
        }
    }

    div#content {
        padding: 20px;
        margin-left: 80px;
        width: 100%;
        transition: all 0.3s;

        nav.navbar {
            padding: 15px 10px;
            background: #fff;
            border: none;
            border-radius: 0;
            height: 70px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

            div.navbar-header {
                font-size: 18px;
                line-height: 40px;
                color: #777;
            }

            form#register {
                button { height: 40px; }
                input {
                    width: 200px;
                    height: 40px;
                }
            }
        }
    }
}

div#active {
    nav#sidebar {
        min-width: 250px;
        max-width: 250px;
        text-align: left;

        div.sidebar-header {
            h3 { display: block; }
            strong { display: none; }
        }

        ul {
            li a {
                padding: 10px;
                font-size: 1.1em;

                i {
                    display: inline;
                    margin-right: 10px;
                    font-size: inherit;
                }
            }

            &.components hr {
                width: 80%;
            }
        }
    }

    div#content {
        margin-left: 250px;
    }
}

@media (max-width: 768px) {
    nav#sidebar {
        margin-left: -80px;
    }

    div#active nav#sidebar {
        margin-left: -250px;
    }

    div#content {
        margin-left: 0 !important;
    }
}
