@import './media';
@import './variables';

@keyframes spin {
    0% {
        transform: rotateY(360deg) rotate(30deg);
    }
    40% {
        transform: rotateY(180deg) rotate(15deg);
    }
    100% {
        transform: rotateZ(0deg) rotate(0deg);
    }
}

.spin {
    animation: spin 1s ease-out;
}

.dashboard {
    td > img {
        cursor: pointer;
        width: 53px;
    }

    small {
        font-size: 0;

        &:after {
            font-size: 12px;
            content: '( ローカルの設定を使用 )';
        }
    }

    .clearfix {
        .dropdown-toggle > i:before {
            content: '\f0d0';
        }

        .dropdown-menu {
            .btn-group > .btn:first-child {
                font-size: 0;

                &:after {
                    font-size: 12px;
                    content: '適用';
                }
            }

            li {
                > a { font-size: 0; }

                &:last-child > a {
                    > i:before {
                        font-size: 14px;
                        content: '\f1f8';
                        padding-right: 5px;
                    }

                    &:after {
                        font-size: 14px;
                        content: 'ローカルの設定を削除';
                    }
                }

                &:first-child > a {
                    > i:before {
                        font-size: 14px;
                        content: '\f0c7';
                        padding-right: 5px;
                    }

                    &:after {
                        font-size: 14px;
                        content: '適用して設定をローカルに保存';
                    }
                }
            }
        }
    }

    .select-shelves {
        display: inline-block;
        padding: 0 12px;

        @media(--pc) {
            width: 180px;
        }
    }
}

.album {
    colgroup, thead, td, .panel-body > div > .clearfix {
        display: none;
    }

    tbody {
        display: flex;
        flex-wrap: wrap;

        > tr > td {
            padding: 0;

            &:nth-child(2) {
                display: block;
            }

            > img.thumb {
                width: 53px;
                padding: 1px;
            }

            > img.medium {
                width: 80px;
                padding: 3px;
            }

            > img.large {
                width: 106px;
                padding: 5px;
            }
        }
    }
}

.navbar-buttons {
    @media(--mobile) {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    button {
        height: 40px;
    }
}

#register {
    display: inline-block;

    @media(--mobile) {
        display: flex;
        flex-direction: column;
    }

    > input {
        @media(--pc) {
            width: 200px;
        }

        height: 40px;
    }
}

.add-inner {
    display: flex;
    align-items: flex-start;

    .add-text {
        flex: 1;
        margin-left: 20px;
        font-size: 16px;
        line-height: 24px;

        > span {
            display: block;
        }
    }
}

#camera-modal {
    .modal-dialog {
        @media(--pc) {
            width: 680px;
        }

        .modal-footer {
            text-align: center;
        }
    }
}

#cameraWindow {
    position: relative;
    margin: 10px;

    @media(--pc) {
        transform: rotateY(180deg);
    }

    > video {
        width: 100%;
    }

    > canvas {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
    }
}

#preview-modal .modal-dialog {
    display: flex;
    justify-content: center;
    transform: unset;
    width: 375px;

    @media(--mobile) {
        margin: auto;
        margin-top: 50px;
    }

    > img {
        height: 500px;
    }
}

.notifications {
    @media(--mobile) {
        width: 100% !important;
        opacity: 0.8;
    }

    > span { display: block; }

    .notification {
        padding: 20px 10px;

        .notification-title, .notification-content {
            font-size: 14px;
        }
    }
}
