@import './media';
@import './variables';

.navbar-buttons {
    @media(--mobile) {
        display: flex;
        flex-direction: column;
    }

    button {
        height: 40px;
    }

    #register {
        display: inline-block;

        @media(--mobile) {
            display: flex;
            flex-direction: column;
            margin: 5px;
        }

        input {
            @media(--pc) {
                width: 200px;
            }

            height: 40px;
        }
    }
}

#camera-modal {
    .modal-dialog {
        width: 680px;

        .modal-content {
            #cameraWindow {
                position: relative;
                margin-left: 20px;
                margin-top: 10px;
                height: 490px;

                video {
                    position: absolute;
                }

                canvas {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                }
            }

            .modal-footer {
                text-align: center;
            }
        }
    }
}

.notifications {
    span { display: block; }

    .notification {
        padding: 20px 10px;

        .notification-title, .notification-content {
            font-size: 14px;
        }
    }
}
