@import './media';
@import './variables';

.dashboard {
    td > img {
        cursor: pointer;
    }
}

.navbar-buttons {
    @media(--mobile) {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    button {
        height: 40px;
    }

    #register {
        display: inline-block;

        @media(--mobile) {
            display: flex;
            flex-direction: column;
        }

        input {
            @media(--pc) {
                width: 200px;
            }

            height: 40px;
        }
    }
}

.add-inner {
    display: flex;
    align-items: flex-start;

    .add-text {
        flex: 1;
        margin-left: 20px;
        font-size: 16px;
        line-height: 24px;

        span {
            display: block;
        }
    }
}

#camera-modal {
    .modal-dialog {
        width: 680px;

        .modal-content {
            #cameraWindow {
                position: relative;
                margin-left: 20px;
                margin-top: 10px;
                height: 490px;

                video {
                    position: absolute;
                }

                canvas {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                }
            }

            .modal-footer {
                text-align: center;
            }
        }
    }
}

#preview-modal {
    .modal-dialog {
        display: flex;
        justify-content: center;
        transform: unset;
    }
}

.notifications {
    span { display: block; }

    .notification {
        padding: 20px 10px;

        .notification-title, .notification-content {
            font-size: 14px;
        }
    }
}
