div#entrance {
    text-align: center;
    padding-top: 20px;

    h2 { font-size: 40px; }
    i { font-size: 120px; }

    hr {
        width: 100px;
        margin: 40px auto;
    }

    span.lead {
        color: #555;
        font-size: 20px;
    }
}
