h2.catchcopy {
    font-size: 40px;
}

span.lead {
    color: #555;
    font-size: 20px;
}

hr.half {
    width: 100px;
    margin: 40px auto;
}

i.icon {
    font-size: 120px;
}

div#content {
    margin: 50px auto;
    text-align: center;
}
