@import './media';
@import './variables';

.container {
    width: 100%;
}

main {
    text-align: center;
    padding-top: 20px;
    color: $dark-gray;

    @media(--pc) {
        height: calc(100% - 135px);
    }

    @media(--mobile) {
        margin-bottom: 50px;
    }

    h2 {
        font-size: 40px;
        margin-bottom: 0;
    }

    h3 {
        font-size: 20px;
        font-weight: lighter;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    hr {
        width: 100px;
        margin: 40px auto;
    }

    .row {
        h4 {
            font-size: 24px;
        }

        i {
            font-size: 120px;
        }

        .btn {
            font-size: 25px;
        }
    }
}
