@import './media';
@import './variables';

.setting-menu {
    @media(--pc) {
        padding-right: 10px;
    }
}

.setting-menu-content {
    margin: 0;

    li {
        &:not(:last-child) { border-bottom: solid 1px $light-gray; }
        &.active {
            background: $white;
            border-left: solid 3px #795548;
        }

        a {
            display: flex;
            padding: 10px 15px;
            align-items: baseline;
        }

        i { margin-right: 5px; }
    }
}
